body {
	margin: 0;
}

.section {
	position: relative;
	overflow: hidden;
	
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	
	filter: blur(10px);
	transition: 2s;
}

.logo {
	width: 350px;
	height: auto;
	position: relative;
	z-index: 1;
	transition: 2s;
}

.logo:hover {
	filter: blur(10px);
	transform: scale(1.2);
	opacity: 0.5;
} 

.logo:hover~.bg {
	filter: blur(0);
	transform: scale(1.5);
}


